In [18]:
import os
import pandas as pd
from datetime import datetime

In [19]:
houses_df = pd.read_csv(os.path.join('..', 'csv_data', 'house_info_school_assignments_dropna.csv'))
houses_df

,zpid,zipcode,city,state,latitude,longitude,price,dateSold,bathrooms,bedrooms,...,currency,country,taxAssessedValue,lotAreaValue,lotAreaUnit,addr,elem,middle,high,Year built
0,37151520,20854,Potomac,MD,39.043986,-77.256456,800000,1.630000e+12,4.0,5.0,...,USD,USA,1081300.0,5.10,acres,12400 beall mountain ln potomac md 20854,wayside elementary,herbert hoover middle,winston churchill high,1979.0
1,246554034,20814,Bethesda,MD,39.022005,-77.107586,800000,1.620000e+12,1.0,2.0,...,USD,USA,507900.0,0.25,acres,10155 laureate way bethesda md 20814,kensington parkwood elementary,tilden middle,walter johnson high,1915.0
2,37182564,20817,Bethesda,MD,38.974071,-77.131494,800000,1.600000e+12,3.0,4.0,...,USD,USA,697767.0,9148.00,sqft,6504 marjory ln bethesda md 20817,bethesda elementary,tilden middle,walt whitman high,1956.0
3,37096069,20854,Potomac,MD,39.041634,-77.172128,800000,1.620000e+12,3.0,4.0,...,USD,USA,611000.0,9811.00,sqft,11502 regency dr potomac md 20854,ritchie park elementary,cabin john middle,winston churchill high,1965.0
4,37286594,20910,Silver Spring,MD,39.003488,-77.038573,800000,1.610000e+12,4.0,3.0,...,USD,USA,534800.0,6570.00,sqft,1701 highland dr silver spring md 20910,rosemary hills elementary,tilden middle,northwood high,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13950,37238907,20877,Gaithersburg,MD,39.155382,-77.177459,358500,1.610000e+12,4.0,5.0,...,USD,USA,259000.0,1650.00,sqft,8712 kelso ter gaithersburg md 20877,flower hill elementary,gaithersburg middle,gaithersburg high,1984.0
13951,37243643,20878,Gaithersburg,MD,39.123152,-77.213852,358888,1.620000e+12,3.0,3.0,...,USD,USA,283800.0,2160.00,sqft,505 white surf dr gaithersburg md 20878,summit hall elementary,lakelands park middle,gaithersburg high,1986.0
13952,37108575,20850,Rockville,MD,39.097480,-77.174731,359000,1.620000e+12,3.0,3.0,...,USD,USA,310000.0,NaN,NaN,871 azalea dr 25 rockville md 20850,college gardens elementary,julius west middle,richard montgomery high,1966.0
13953,37158211,20878,Gaithersburg,MD,39.113014,-77.242862,359000,1.610000e+12,2.0,3.0,...,USD,USA,309333.0,1206.00,sqft,15727 ambiance dr gaithersburg md 20878,dufief elementary,lakelands park middle,quince orchard high,NaN
13954,37237732,20878,Gaithersburg,MD,39.132141,-77.235263,359000,1.610000e+12,3.0,3.0,...,USD,USA,327900.0,2000.00,sqft,824 flagler dr gaithersburg md 20878,diamond elementary,lakelands park middle,quince orchard high,1983.0

In [20]:
# keep only columns we need for the preliminary machine learning.
# Keep enrichment keys (zipcode and all type of schools)
houses_df = houses_df[
                        [ 'price',
                          'dateSold',
                          'bathrooms',
                          'bedrooms',
                          'livingArea',
                          'homeType',
                          'lotAreaValue',
                          'lotAreaUnit',
                          'zipcode',
                          'elem',
                          'middle',
                          'high',
                          'Year built'
                        ]
                     ]

houses_df

,price,dateSold,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,lotAreaUnit,zipcode,elem,middle,high,Year built
0,800000,1.630000e+12,4.0,5.0,3650.0,SINGLE_FAMILY,5.10,acres,20854,wayside elementary,herbert hoover middle,winston churchill high,1979.0
1,800000,1.620000e+12,1.0,2.0,1400.0,SINGLE_FAMILY,0.25,acres,20814,kensington parkwood elementary,tilden middle,walter johnson high,1915.0
2,800000,1.600000e+12,3.0,4.0,1826.0,SINGLE_FAMILY,9148.00,sqft,20817,bethesda elementary,tilden middle,walt whitman high,1956.0
3,800000,1.620000e+12,3.0,4.0,2810.0,SINGLE_FAMILY,9811.00,sqft,20854,ritchie park elementary,cabin john middle,winston churchill high,1965.0
4,800000,1.610000e+12,4.0,3.0,2304.0,SINGLE_FAMILY,6570.00,sqft,20910,rosemary hills elementary,tilden middle,northwood high,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13950,358500,1.610000e+12,4.0,5.0,1386.0,TOWNHOUSE,1650.00,sqft,20877,flower hill elementary,gaithersburg middle,gaithersburg high,1984.0
13951,358888,1.620000e+12,3.0,3.0,1420.0,TOWNHOUSE,2160.00,sqft,20878,summit hall elementary,lakelands park middle,gaithersburg high,1986.0
13952,359000,1.620000e+12,3.0,3.0,1320.0,TOWNHOUSE,NaN,NaN,20850,college gardens elementary,julius west middle,richard montgomery high,1966.0
13953,359000,1.610000e+12,2.0,3.0,1188.0,TOWNHOUSE,1206.00,sqft,20878,dufief elementary,lakelands park middle,quince orchard high,NaN
13954,359000,1.610000e+12,3.0,3.0,1660.0,TOWNHOUSE,2000.00,sqft,20878,diamond elementary,lakelands park middle,quince orchard high,1983.0

In [21]:
# Drop all rows with even a single null value.
houses_df = houses_df.dropna()
houses_df

,price,dateSold,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,lotAreaUnit,zipcode,elem,middle,high,Year built
0,800000,1.630000e+12,4.0,5.0,3650.0,SINGLE_FAMILY,5.100000,acres,20854,wayside elementary,herbert hoover middle,winston churchill high,1979.0
1,800000,1.620000e+12,1.0,2.0,1400.0,SINGLE_FAMILY,0.250000,acres,20814,kensington parkwood elementary,tilden middle,walter johnson high,1915.0
2,800000,1.600000e+12,3.0,4.0,1826.0,SINGLE_FAMILY,9148.000000,sqft,20817,bethesda elementary,tilden middle,walt whitman high,1956.0
3,800000,1.620000e+12,3.0,4.0,2810.0,SINGLE_FAMILY,9811.000000,sqft,20854,ritchie park elementary,cabin john middle,winston churchill high,1965.0
5,800000,1.610000e+12,2.0,5.0,2115.0,SINGLE_FAMILY,0.379293,acres,20815,bethesda elementary,thomas w. pyle middle,albert einstein high,1868.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13948,358000,1.620000e+12,4.0,3.0,1762.0,TOWNHOUSE,1800.000000,sqft,20882,woodfield elementary,hallie wells middle,clarksburg high,1987.0
13949,358000,1.620000e+12,3.0,3.0,1673.0,TOWNHOUSE,2001.000000,sqft,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high,1979.0
13950,358500,1.610000e+12,4.0,5.0,1386.0,TOWNHOUSE,1650.000000,sqft,20877,flower hill elementary,gaithersburg middle,gaithersburg high,1984.0
13951,358888,1.620000e+12,3.0,3.0,1420.0,TOWNHOUSE,2160.000000,sqft,20878,summit hall elementary,lakelands park middle,gaithersburg high,1986.0
13954,359000,1.610000e+12,3.0,3.0,1660.0,TOWNHOUSE,2000.000000,sqft,20878,diamond elementary,lakelands park middle,quince orchard high,1983.0

In [22]:
# Convert all lot areas to acres.
for index, row in houses_df.iterrows():
    
    if row['lotAreaUnit'] == 'acres':
        val = houses_df.loc[index, 'lotAreaValue'] * 43560
        houses_df.loc[index, 'lotAreaValue'] = val

# Drop the lotAreaUnit column.
houses_df = houses_df.drop(columns=['lotAreaUnit'])

houses_df

/Users/sdrawid/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,price,dateSold,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,zipcode,elem,middle,high,Year built
0,800000,1.630000e+12,4.0,5.0,3650.0,SINGLE_FAMILY,222156.000000,20854,wayside elementary,herbert hoover middle,winston churchill high,1979.0
1,800000,1.620000e+12,1.0,2.0,1400.0,SINGLE_FAMILY,10890.000000,20814,kensington parkwood elementary,tilden middle,walter johnson high,1915.0
2,800000,1.600000e+12,3.0,4.0,1826.0,SINGLE_FAMILY,9148.000000,20817,bethesda elementary,tilden middle,walt whitman high,1956.0
3,800000,1.620000e+12,3.0,4.0,2810.0,SINGLE_FAMILY,9811.000000,20854,ritchie park elementary,cabin john middle,winston churchill high,1965.0
5,800000,1.610000e+12,2.0,5.0,2115.0,SINGLE_FAMILY,16521.999987,20815,bethesda elementary,thomas w. pyle middle,albert einstein high,1868.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13948,358000,1.620000e+12,4.0,3.0,1762.0,TOWNHOUSE,1800.000000,20882,woodfield elementary,hallie wells middle,clarksburg high,1987.0
13949,358000,1.620000e+12,3.0,3.0,1673.0,TOWNHOUSE,2001.000000,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high,1979.0
13950,358500,1.610000e+12,4.0,5.0,1386.0,TOWNHOUSE,1650.000000,20877,flower hill elementary,gaithersburg middle,gaithersburg high,1984.0
13951,358888,1.620000e+12,3.0,3.0,1420.0,TOWNHOUSE,2160.000000,20878,summit hall elementary,lakelands park middle,gaithersburg high,1986.0
13954,359000,1.610000e+12,3.0,3.0,1660.0,TOWNHOUSE,2000.000000,20878,diamond elementary,lakelands park middle,quince orchard high,1983.0

In [23]:
# Drop rows with housetypes apartments, multi-family and lot. There are too few of them.
houses_df.drop(houses_df[houses_df.homeType == 'APARTMENT'].index, inplace=True)
houses_df.drop(houses_df[houses_df.homeType == 'LOT'].index, inplace=True)
houses_df.drop(houses_df[houses_df.homeType == 'MULTI_FAMILY'].index, inplace=True)
houses_df

,price,dateSold,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,zipcode,elem,middle,high,Year built
0,800000,1.630000e+12,4.0,5.0,3650.0,SINGLE_FAMILY,222156.000000,20854,wayside elementary,herbert hoover middle,winston churchill high,1979.0
1,800000,1.620000e+12,1.0,2.0,1400.0,SINGLE_FAMILY,10890.000000,20814,kensington parkwood elementary,tilden middle,walter johnson high,1915.0
2,800000,1.600000e+12,3.0,4.0,1826.0,SINGLE_FAMILY,9148.000000,20817,bethesda elementary,tilden middle,walt whitman high,1956.0
3,800000,1.620000e+12,3.0,4.0,2810.0,SINGLE_FAMILY,9811.000000,20854,ritchie park elementary,cabin john middle,winston churchill high,1965.0
5,800000,1.610000e+12,2.0,5.0,2115.0,SINGLE_FAMILY,16521.999987,20815,bethesda elementary,thomas w. pyle middle,albert einstein high,1868.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13948,358000,1.620000e+12,4.0,3.0,1762.0,TOWNHOUSE,1800.000000,20882,woodfield elementary,hallie wells middle,clarksburg high,1987.0
13949,358000,1.620000e+12,3.0,3.0,1673.0,TOWNHOUSE,2001.000000,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high,1979.0
13950,358500,1.610000e+12,4.0,5.0,1386.0,TOWNHOUSE,1650.000000,20877,flower hill elementary,gaithersburg middle,gaithersburg high,1984.0
13951,358888,1.620000e+12,3.0,3.0,1420.0,TOWNHOUSE,2160.000000,20878,summit hall elementary,lakelands park middle,gaithersburg high,1986.0
13954,359000,1.610000e+12,3.0,3.0,1660.0,TOWNHOUSE,2000.000000,20878,diamond elementary,lakelands park middle,quince orchard high,1983.0

In [24]:
# Convert dateSold to dates.
houses_df['dateSold_month'] = houses_df['dateSold'].apply(lambda x: datetime.fromtimestamp(x/1000).month)
houses_df['dateSold_year'] = houses_df['dateSold'].apply(lambda x: datetime.fromtimestamp(x/1000).year)

for index, row in houses_df.iterrows():
    
    if row['dateSold_year'] == 2020:
        if row['dateSold_month'] < 4:
            houses_df.loc[index, 'dateSold'] = 'Q1_2020'
        elif row['dateSold_month'] < 7:
            houses_df.loc[index, 'dateSold'] = 'Q2_2020'
        elif row['dateSold_month'] < 10:
            houses_df.loc[index, 'dateSold'] = 'Q3_2020'
        else:
            houses_df.loc[index, 'dateSold'] = 'Q4_2020'
            
    if row['dateSold_year'] == 2021:
        if row['dateSold_month'] < 4:
            houses_df.loc[index, 'dateSold'] = 'Q1_2021'
        elif row['dateSold_month'] < 7:
            houses_df.loc[index, 'dateSold'] = 'Q2_2021'
        elif row['dateSold_month'] < 10:
            houses_df.loc[index, 'dateSold'] = 'Q3_2021'
        else:
            houses_df.loc[index, 'dateSold'] = 'Q4_2021'

houses_df = houses_df.drop(columns=['dateSold_month', 'dateSold_year'])
houses_df

,price,dateSold,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,zipcode,elem,middle,high,Year built
0,800000,Q3_2021,4.0,5.0,3650.0,SINGLE_FAMILY,222156.000000,20854,wayside elementary,herbert hoover middle,winston churchill high,1979.0
1,800000,Q2_2021,1.0,2.0,1400.0,SINGLE_FAMILY,10890.000000,20814,kensington parkwood elementary,tilden middle,walter johnson high,1915.0
2,800000,Q3_2020,3.0,4.0,1826.0,SINGLE_FAMILY,9148.000000,20817,bethesda elementary,tilden middle,walt whitman high,1956.0
3,800000,Q2_2021,3.0,4.0,2810.0,SINGLE_FAMILY,9811.000000,20854,ritchie park elementary,cabin john middle,winston churchill high,1965.0
5,800000,Q1_2021,2.0,5.0,2115.0,SINGLE_FAMILY,16521.999987,20815,bethesda elementary,thomas w. pyle middle,albert einstein high,1868.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13948,358000,Q2_2021,4.0,3.0,1762.0,TOWNHOUSE,1800.000000,20882,woodfield elementary,hallie wells middle,clarksburg high,1987.0
13949,358000,Q2_2021,3.0,3.0,1673.0,TOWNHOUSE,2001.000000,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high,1979.0
13950,358500,Q1_2021,4.0,5.0,1386.0,TOWNHOUSE,1650.000000,20877,flower hill elementary,gaithersburg middle,gaithersburg high,1984.0
13951,358888,Q2_2021,3.0,3.0,1420.0,TOWNHOUSE,2160.000000,20878,summit hall elementary,lakelands park middle,gaithersburg high,1986.0
13954,359000,Q1_2021,3.0,3.0,1660.0,TOWNHOUSE,2000.000000,20878,diamond elementary,lakelands park middle,quince orchard high,1983.0

In [25]:
# Convert year built.
from datetime import date

houses_df['AgeYears'] = houses_df['Year built'].apply(lambda x: date.today().year-x)
houses_df = houses_df.drop(columns=['Year built'])
houses_df

,price,dateSold,bathrooms,bedrooms,livingArea,homeType,lotAreaValue,zipcode,elem,middle,high,AgeYears
0,800000,Q3_2021,4.0,5.0,3650.0,SINGLE_FAMILY,222156.000000,20854,wayside elementary,herbert hoover middle,winston churchill high,42.0
1,800000,Q2_2021,1.0,2.0,1400.0,SINGLE_FAMILY,10890.000000,20814,kensington parkwood elementary,tilden middle,walter johnson high,106.0
2,800000,Q3_2020,3.0,4.0,1826.0,SINGLE_FAMILY,9148.000000,20817,bethesda elementary,tilden middle,walt whitman high,65.0
3,800000,Q2_2021,3.0,4.0,2810.0,SINGLE_FAMILY,9811.000000,20854,ritchie park elementary,cabin john middle,winston churchill high,56.0
5,800000,Q1_2021,2.0,5.0,2115.0,SINGLE_FAMILY,16521.999987,20815,bethesda elementary,thomas w. pyle middle,albert einstein high,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13948,358000,Q2_2021,4.0,3.0,1762.0,TOWNHOUSE,1800.000000,20882,woodfield elementary,hallie wells middle,clarksburg high,34.0
13949,358000,Q2_2021,3.0,3.0,1673.0,TOWNHOUSE,2001.000000,20879,strawberry knoll elementary,gaithersburg middle,gaithersburg high,42.0
13950,358500,Q1_2021,4.0,5.0,1386.0,TOWNHOUSE,1650.000000,20877,flower hill elementary,gaithersburg middle,gaithersburg high,37.0
13951,358888,Q2_2021,3.0,3.0,1420.0,TOWNHOUSE,2160.000000,20878,summit hall elementary,lakelands park middle,gaithersburg high,35.0
13954,359000,Q1_2021,3.0,3.0,1660.0,TOWNHOUSE,2000.000000,20878,diamond elementary,lakelands park middle,quince orchard high,38.0

In [26]:
houses_df.to_csv(os.path.join('..', 'csv_data', 'house_info_school_assignments_dropna_transform.csv'), index=False)